<div style="text-align: center; padding:1rem;">
    <div *ngIf="!finished">
        <div class="alert alert-danger" role="alert">
            Verificando información...
          </div>
        <div class="spinner-border text-danger" role="status">

        </div>
    </div>

    <div *ngIf="finished">
        <div class="alert alert-success" role="alert">
            ¡Felicidades! ahora estás verificado
        </div>
        <i class="fa fa-check-circle my-icon text-success"></i>

        <span class="my-span">Redireccionando ...</span>
    </div>

</div>