.login-form {
    font-family: Helvetica,Arial,sans-serif;
    margin: 120px auto 0;
    padding: 42px 42px 36px;
    border: 1px solid #eaeced;
    overflow: hidden;
    
    
}

h1 {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

.my-fa {
    font-size: 1.7rem;
    margin-right:.3rem;
    margin-top:1rem;
    margin-bottom: 5px;
}

.my-btn{
    color:white;
    background-color:#0070ba;
    width:100%;
}

.my-input {
  
}

::placeholder {
    color: #b3b3b3;
}

.remember-me-label {
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 500;
}

input[type=checkbox] {
    background: #737373;
    border-radius: 2px;
    border: 0;
    height: 16px;
    width: 16px;
}

:host {
    width:70%;
}

.my-form-group {
    position: relative;
}


.input-car {
    position: absolute;
    top: 6px;
    left:6px;
}
.input-car:hover {
    cursor:text;
}